

// Core variables and mixins
@import "base/_variables.scss";
@import "base/_mixins.scss";

//bootstrap
@import "~/../node_modules/bootstrap/scss/bootstrap.scss";

// Global CSS
@import "base/_page.scss";
@import "base/text.scss";

// Components
@import "components/commons/_buttons.scss";
@import "components/commons/_navbar.scss";
@import "components/commons/_modal.scss";
@import "components/commons/_dropdown.scss";
@import "components/footer.scss";
@import "components/header.scss";
@import "components/table.scss";

body{
  background-color: #f5f5f5;
}

.nuxt-body{
  max-height: 100%;
  min-height: 35rem;
  overflow-y: auto;
}