// Button Styles
.btn {
  @include heading-font;
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  color: white !important;
  &:active,
  &:focus,
  &:hover {
    background-color: darken($primary, 7.5%) !important;
    border-color: darken($primary, 7.5%) !important;
    color: $second;
  }
}

.btn-secondary {
  color: white !important;
  background-color: $second;
}

.btn-link{
  color: $gray-600;
  &.main-button{
    background-color: white;
    box-shadow: 1.5px 0px 1.5px 1.5px $gray-300;
    border: 0;
    color: $gray-500;
    min-width: 3.5rem;
    min-height: 3.5rem;
  }
}