
.crop-text {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  &.lines-1 {
    -webkit-line-clamp: 1;
  }
  &.lines-2{
    -webkit-line-clamp: 2;
  }
  &.lines-3{
    -webkit-line-clamp: 3;
  }
}

.wordBreakBreakAll{
  word-break: break-all;
}
.truncateLongTexts {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis // This is where the magic happens
}