<template>
  <b-modal v-model="showModal" id="filterModal" modal-class="filter-modal" title="BootstrapVue">
    <template v-slot:modal-header="{ close }">
      <dir class="d-flex flex-content-between w-100 pl-1">
         <dir class="d-flex flex-content-start w-100 pl-0">
          <b-button size="sm" variant="link" @click="close()">
          <fa size="2x" icon="sliders-h"></fa>
          </b-button>
          <h4 class="mb-0 mt-2 ml-2">Filtros</h4>
        </dir>
        <b-button size="sm" variant="link" @click="close()" class="main-button">
          <fa size="lg" icon="times"></fa>
        </b-button>
      </dir>
    </template>

    <template v-slot:default="{ hide }">
      <div>
        <span class="info font-italic mt-4 font-weight-bold">
          Utilizar os filtros abaixo para refinar os resultados da tabela, clique no botão APLICAR para salvar as alterações
        </span>
        <hr >
        <b-row>
          <b-col>
            <b-dropdown size="lg"  variant="link" class="filter-dropdown" >
                <template v-slot:button-content>
                  <fa icon="calendar-alt"> </fa>
                  <span class="text-primary"> Todas datas de inclusão</span>
                  <div class="w-100 justify-content-end d-flex">
                    <fa icon="caret-down"> </fa>
                  </div>
                </template>
                <b-dropdown-item href="#">Action</b-dropdown-item>
              </b-dropdown>
          </b-col>
          <b-col>
            <b-dropdown size="lg"  variant="link" class="filter-dropdown" >
                <template v-slot:button-content>
                  <fa icon="calendar-alt"> </fa>
                  <span class="text-primary"> Todas datas de alteração</span>
                  <div class="w-100 justify-content-end d-flex">
                    <fa icon="caret-down"> </fa>
                  </div>
                </template>
                <b-dropdown-item href="#">Action</b-dropdown-item>
              </b-dropdown>
          </b-col>
          <b-col>
            <b-dropdown size="lg"  variant="link" class="filter-dropdown" >
                <template v-slot:button-content>
                  <fa  icon="circle"> </fa>
                  <span class="text-primary"> ativos e inativos</span>
                  <div class="w-100 justify-content-end d-flex">
                    <fa icon="caret-down"> </fa>
                  </div>
                </template>
                <b-dropdown-item href="#">Action</b-dropdown-item>
              </b-dropdown>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-button :disabled="true" size="lg" class="filter-submit w-100" variant="outline-primary">aplicar</b-button>
          </b-col>
        </b-row>
      </div>
    </template>
  </b-modal>
</template>

<script>
export default {
  data() {
    return {
      showModal: false
    }
  },
  watch: {
    showModal(){
      if(!this.showModal)this.$root.$emit("FilterModalIsClosed")
    }
  },
  methods: {
  }
}
</script>

<style lang="scss">

@import "~/scss/components/filterModal.scss";
</style>
