<template>

  <footer class="footer">
    <b-row>
      <b-col cols="6">
        <b-row  class="ml-3 justify-content-start">
          <div class="text-secondary footer-item">
            <fa icon="circle" ></fa>
            <span class="text-uppercase ml-1">no ar</span>
          </div>
          <div class=" footer-item">
            <fa icon="desktop" class="footer-text-dark" ></fa>
            <span class="text-uppercase ml-1 font-weight-bold meeting-date-label">encontro&nbsp;-&nbsp;</span>
            <span class="text-uppercase ml-1 font-weight-bold">10:00</span>
          </div>
          <div class=" footer-item">
            <fa icon="history" class="footer-text-dark" ></fa>
            <span class="ml-1 last-update">Última atualização em </span>
            <span class="font-weight-bold">{{$day(new Date()).format('HH:mm')}}</span>
          </div>
        </b-row>
      </b-col>
      <b-col cols="6" >
         <b-row class="justify-content-end">
          <div class="mr-3 full-date footer-item">
            <span class="footer-text-dark">{{nowDay.format('dddd')}},&nbsp;</span>
            <span >{{nowDay.format('DD')}}&nbsp;</span>
            <span class="footer-text-dark">de&nbsp;</span>
            <span >{{nowDay.format('MMMM')}}&nbsp;</span>
            <span class="footer-text-dark">de&nbsp;</span>
            <span >{{nowDay.format('YYYY')}}</span>
          </div>
          <div class="small-date footer-item">
            <span >{{nowDay.format('DD/MMM/YYYY')}}</span>
          </div>
          <div class="mr-5 text-secondary footer-clock footer-item">
            <span class="mr-2 bars">//</span>
            <span class="timer">{{nowHour}}</span>
          </div>
        </b-row>
      </b-col>
    </b-row>
  </footer>

</template>

<script>
import { mapMutations } from 'vuex'

export default {
  data() {
    return {
      nowDay: '',
      nowHour: ''
    }
  },
  created() {

    this.$day.locale('pt')
    this.nowDay =  this.$day(new Date())
    this.nowHour = this.$day(new Date()).format('HH:mm:ss');
    setInterval(() => this.nowHour = this.$day(new Date()).format('HH:mm:ss'), 1000)
  }
}
</script>

<style lang="scss" scoped>

</style>