<template>
  <header class="header">
    <b-navbar toggleable="md">
    <b-navbar-brand href="#" class="mr-0">
      <b-button class="header-secondary-button radius" size="lg" >Icon</b-button>
    </b-navbar-brand>

    <span class="division"> | </span>

    <div  class="d-flex">
      <b-button variant="link" size="lg" :class="!showModal?'main-button':'header-secondary-button'">
        <img src="~/assets/img/commons/shield.svg"  height="17" width="17">
      </b-button>
      <b-button variant="link" size="lg" :class="showModal?'main-button':'header-secondary-button'">
         <fa icon="user"></fa>
      </b-button>
    </div>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-form class="header-search b-flex justify-content-center">
          <b-row>
            <b-col cols="9">
               <b-form-input class="header-search-input mr-sm-2" placeholder="Pesquisar"></b-form-input>
            </b-col>
            <b-col cols="3">
              <b-button class="header-search-button" variant="link" >
                <fa icon="search"></fa>
              </b-button>
            </b-col>
          </b-row>
        </b-nav-form>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <div class="d-flex justify-content-center mt-2">
          <b-button data-test="header:open:sidebar" variant="link" size="lg" class="main-button"  @click="openFilterModal()">
            <fa  icon="sliders-h"></fa>
          </b-button>
          <b-button variant="primary" class="ml-2 px-2" size="sm" >
            <fa  class="mr-1 ml-2" icon="user"></fa>
            <span class="text-uppercase mr-2">incluir usuário</span>
          </b-button>
           <span class="division"> | </span>
          <b-button variant="link" size="lg">
          <fa  icon="home"></fa>
          </b-button>
          <b-button variant="link" size="lg">
            <fa  icon="cog"></fa>
          </b-button>
          <b-button variant="link" size="lg">
            <fa  icon="power-off"></fa>
          </b-button>
        </div>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
  <FilterModal></FilterModal>
  </header>
</template>

<script>

import FilterModal from '~/components/commons/FilterModal.vue'

export default {
  components: {
    FilterModal
  },
  data() {
    return {
      showModal: false
    }
  },
  computed: {
  },
  methods: {
    openFilterModal(){
      this.$root.$emit('bv::show::modal', 'filterModal', '#btnShow')
      this.showModal = true
    }
  },
  beforeCreate() {
    //console.log('header','beforeCreate')
  },
  created() {
    this.$root.$on('FilterModalIsClosed', () => this.showModal = false)
  },
  beforeMount(){
    //console.log('header','beforeMount')
  },
  mounted(){
    //console.log('header','monted')
  },
  beforeUpdate(){
    //console.log('header','beforeUpdate')
  },
  updated(){
    //console.log('header','updated')
  },
  activated(){
    //console.log('header','activated')
  },
  deactivated(){
    //console.log('header','deactivated')
  },
  beforeDestroy(){
    //console.log('header','beforeDestroy')
  },
  destroyed(){
    //console.log('header','destroyed')
  }
}
</script>

<style lang="scss" scoped>
</style>