<template>
<div>
  <b-pagination
  v-model="currentPage"
  :total-rows="rows"
  :per-page="perPage"
  class="mt-4"
  >
  <template v-slot:first-text><span>Primeiro</span></template>
  <template v-slot:prev-text><span>Anterior</span></template>
  <template v-slot:next-text><span>Próximo</span></template>
  <template v-slot:last-text><span>Último</span></template>
  <template v-slot:page="{ page, active }">
    <b v-if="active">{{ page }}</b>
    <i v-else>{{ page }}</i>
  </template>
  </b-pagination>
</div>
</template>

<script>
export default {
  data() {
    return {
      rows: 10,
      perPage: 10,
      currentPage: 1
    }
  },
  methods: {
  }
}
</script>

<style lang="scss">

@import "~/scss/components/pagination.scss";
</style>
