// Core variables and mixins
@import "../base/_variables.scss";
@import "../base/_mixins.scss";

.filter-modal{
  .modal-dialog {
    /* position: relative; */
    margin: 0;
    /* left: 0; */
    right: 0;
    position: absolute;
    height: 100%;
    width: 30rem;
    .modal-content{
      height: 100%;
      footer{
        display: none;
      }
      header{
        @include audiowide-font;
      }
      .modal-body{
        background-color: #f5f5f5;
        .info{
          color: $gray-600;
          line-height: 1.4;
        }
        hr{
          width: 10%;
          position: relative;
          right: 200px;
          border-top: 0.3rem solid;
          border-color: $gray-300;
        }
      }
      .filter-dropdown{
        margin-top: 2rem;
        width: 100%;
        .dropdown-toggle{
          border-bottom: 0.2rem solid $gray-300 ;
          display: flex;
          align-content: space-between;
          padding-bottom: 1.5rem;
          span{
            margin-left: 1rem;
            text-transform: uppercase;
          }
        }
      }
      .filter-submit{
        margin: 3rem 2rem 2rem 0;
        padding: 1.5rem;
        text-transform: uppercase;
      }
    }
  }
}

@media (max-width: 490px) {
  .filter-modal{
    .modal-dialog {
      width: 100%;
    }
  }
}