.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #333333;
  font-size: 1.0rem;
  color: $gray-200;
  .footer-text-dark{
    color: $gray-600;
  }
  .small-date{
    display: none;
  }
  .footer-clock{
    .bars,.timer{
      font-size: 2rem;
      @include audiowide-font;
    }
  }
  .footer-item{
    margin-right: 1.5rem;
  }
}

@media (max-width: 1200px) {
  .footer {
    .small-date{
      display: block;
    }
    .full-date,.last-update,.meeting-date-label{
      display: none;
    }
    .footer-clock{
      .bars,.timer{
        font-size: 1.5rem;
      }
    }
  }
}

@media (max-width: 700px) {
  .footer {
    .footer-item{
      margin-right: 1.0rem;
    }
    .footer-clock{
      .bars,.timer{
        font-size: 1rem;
      }
    }
  }
}