.header{
  background-color: transparent;
  padding: 1rem;
  .division{
    color: $gray-200;
    margin: 0 1rem 0 1rem;
    font-size: 2rem;
  }
  .header-search{
    margin-left: 1rem;
    box-shadow: 0px 2px 0px $gray-300;
    &-input{
      background-color: transparent !important;
      border-color: $gray-100;
      border-top: 0;
      border-left: 0;
      border-bottom: 1rem ;
      padding: 10px;
      border-radius: 0;
    }
    &-button{
      color: $gray-500;
    }
  }
  .header-secondary-button{
    background: rgb(216,51,103);
    background: linear-gradient(45deg, rgba(216,51,103,1) 0%, rgba(255,135,0,1) 100%);
    color: white;
    border: 0;
    &.radius{
      border-top-left-radius: 30px 5px;
      border-top-right-radius: 30px 5px;
      border-bottom-left-radius: 30px 5px;
      border-bottom-right-radius: 30px 5px;
    }
  }
}

@media (max-width: 767px) {
  .header{
    .division{
      display: none;
    }
  }
}