
// Core variables and mixins
@import "../base/_variables.scss";
@import "../base/_mixins.scss";

.pagination{
  display: flex;
  justify-content: center;
  .page-link{
    background-color: $gray-100;
    padding: 1rem;
    border-radius: 0.2rem;
    margin-right: 0.5rem;
  }
  .page-item.disabled{
    .page-link{
      background-color: $gray-100;
    }
  }
}