
.b-table{
  box-shadow: 2.5px 2px 2.5px 2.5px $gray-300;
  thead{
    background-color: white;
    text-transform: uppercase;
  }
  tr.table-selected{
    background-color: white !important;
    color: $gray-200 !important;
    border-bottom: 0.3rem solid;
    border-bottom-color: $primary;;
    td{
      span{
        color: $gray-200 !important;
      }
      .row-menu{
        color: $gray-200 !important;
      }
    }
  }
}