<template>
  <b-row class="p-4">
    <b-col>
      <b-table  striped  :fields="fields"  hover :items="items" :tbody-tr-class="rowClass"  :busy="isBusy" responsive>
        <template v-slot:table-busy>
          <div class="text-center text-danger my-2">
            <b-spinner class="align-middle"></b-spinner>
            <strong>Loading...</strong>
          </div>
        </template>
        <template v-slot:cell(checkbox)="data">
          <b-form-checkbox v-if="data.item.state === 0" :id="'checkbox'+data.item.id"></b-form-checkbox>
        </template>
        <template v-slot:cell(createdDate)="data">
          <span>{{$day(data.item.createdDate).format('DD/MM/YYYY') }}</span>
        </template>
        <template v-slot:cell(updatedDate)="data">
          <span >{{$day(data.item.updatedDate).format('DD/MM/YYYY')}}</span>
        </template>
        <template v-slot:cell(username)="data">
          <span class="text-uppercase">{{data.item.username}}</span>
        </template>
        <template v-slot:cell(status)="data">
          <span :class="'text-uppercase font-weight-bold ' + (data.item.status?'text-success':'text-danger')">{{(data.item.status?'ativo':'desativado')}}</span>
        </template>
         <template v-slot:cell(rules)="data">
          <span >{{(data.item.rules?'01':'02')}}</span>
        </template>
        <template v-slot:cell(actions)="data">
          <b-button v-if="data.item.state === 1" variant="link">
            <fa  icon="trash"></fa>
          </b-button>
          <b-button v-if="data.item.state === 1" variant="link" >
            <img src="~/assets/img/commons/shield.svg"  height="17" width="17">
          </b-button>
          <b-button v-if="data.item.state === 1" variant="link" >
            <fa  icon="download"></fa>
          </b-button>
          <b-button v-if="data.item.state === 1" variant="link" >
            <fa  icon="pen"></fa>
          </b-button>
          <b-button variant="link" @click="selectRow(data.item)" class="row-menu">
            <fa  icon="ellipsis-h"></fa>
          </b-button>
        </template>
      </b-table>
      <Pagination ></Pagination>
    </b-col>
  </b-row>
</template>

<script>

  import { mapMutations, mapActions, mapGetters } from "vuex";
  import Pagination from '~/components/commons/Pagination.vue'
  export default {
    components: {
      Pagination
    },
    data() {
      return {
        isBusy: false,
        selectedItem: {id:null},
        fields: [
          //'id',
          { key: 'checkbox', label: '' ,class: 'text-center'},
          { key: 'username', label: 'Usuário',class: 'text-center' },
          { key: 'email', label: 'email',class: 'text-center' },
          { key: 'createdDate', label: 'Data de Inclusão',class: 'text-center' },
          { key: 'updatedDate', label: 'Data de Alteração',class: 'text-center' },
          { key: 'rules', label: 'Regras',class: 'text-center'},
          { key: 'status', label: 'status',class: 'text-center'},
          { key: 'actions', label: 'Ações',class: 'text-right'},
        ],
        items: []
      }
    },
    computed: {
    },
    methods: {
      ...mapActions({
        findUsers: "user/find",
      }),
      selectRow(item){
        if(item.id === this.selectedItem.id){
          item.state = 0;
          this.selectedItem = {id:null}
          return
        }
        this.items.forEach(element => element.state = 0);
        item.state = 1;
        this.selectedItem = item;
      },
       rowClass(item, type) {
        if (!item) return
        if (item.state === 1) return 'table-selected'
      }
    },
    beforeCreate() {
      //console.log('index','beforeCreate')
    },
    async created() {
      this.$day.locale('pt')
      this.isBusy = true
      try {
        const page = this.$route.query.page || 0;
        const users = await this.findUsers({page})
        this.items = users
      } catch (error) {
        console.log(error)
      }finally{
        this.isBusy = false
      }
    },
    beforeMount(){
      //console.log('index','beforeMount')
    },
    mounted(){
      //console.log('index','monted')
    },
    beforeUpdate(){
      //console.log('index','beforeUpdate')
    },
    updated(){
      //console.log('index','updated')
    },
    activated(){
      //console.log('index','activated')
    },
    deactivated(){
      //console.log('index','deactivated')
    },
    beforeDestroy(){
      //console.log('index','beforeDestroy')
    },
    destroyed(){
      //console.log('index','destroyed')
    }
  }
</script>

<style lang="scss">
</style>