
<template>
  <div>
    <Header/>
    <nuxt class="nuxt-body" />
    <Footer/>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
import Header from '~/components/commons/Header.vue'
import Footer from '~/components/commons/Footer.vue'
export default {
  components: {
    Header,
    Footer
  },
  data() {
    return {
    }
  },
  head () {
    return {
    }
  },
  watch:{
  },
   computed: {
  },
  methods: {
  },
}
</script>

<style lang="scss">
  @import "~/scss/main.scss";
</style>