<template>
  <div class="container text-center mt-5">
    <h1 v-if="error.statusCode === 404">Página não encontrada</h1>
    <h1 v-else>Error</h1>
    <nuxt-link :to="'/'">Index</nuxt-link>
  </div>
</template>

<script>
export default {
  props: ['error'],
  layout: 'blog', // you can set a custom layout for the error page
}
</script>

<style lang="scss">
  @import "~/scss/main.scss";
</style>